<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoogleGson" version="2.6.2.0" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.Cognitive.Face" version="0.5.2" targetFramework="monoandroid60" />
</packages>